<!DOCTYPE html>
<html>
    <head>
        <title>Proper Form & Data Handling</title>
    </head>

    <body>
        <form action="/create" method="POST">
            <label for="fullName">Full Name: </label>
            <input type="text" name="fullName" id="fullName" placeholder="Osama Bin Laden" />
            <button type="submit">Submit</button>
        </form>
    </body>
</html>